* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: gray;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: gray;
}

main h1 {
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

main h1::before,
main h1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main h1::before {
    animation: typeWrite 6s steps(18) 1s forwards;
    background: var(--background-color)
}

main h1::after {
    animation: typeWrite 6s steps(18) 1s forwards,
    blink 500ms steps(18) infinite;
    background: black;
    width: 2px;
}

@keyframes typeWrite {
    100% {
        left: 100%;
    }
}

@keyframes blink {
    100% {
        background: transparent;
    }
}